In [2]:
import sqlite3

conn = sqlite3.connect('example.db')
conn

In [3]:
cursor = conn.cursor()

In [4]:
## Create a table

cursor.execute('''
    Create Table If Not Exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department Text
               )
''')

## Commit the changes
conn.commit()

In [5]:
cursor.execute('''
    Select * from employees
''')

In [6]:
## Insert the data in sqlite table
cursor.execute('''
insert into employees (name, age, department) values('welinton', 20, 'Data')
''')

conn.commit()

In [8]:
## Query the data from the table
cursor.execute('select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'welinton', 20, 'Data')
(2, 'welinton', 20, 'Data')
(3, 'welinton', 20, 'Data')

In [12]:
sales_data = [
    ('product1', 20, 'lasasa'),
    ('product1', 20, 'lasasa'),
    ('product1', 20, 'lasasa')
]

## Insert the data in sqlite table
cursor.executemany('''
insert into employees (name, age, department) values(?, ?, ?)
''', sales_data)

conn.commit()

In [13]:
## Query the data from the table
cursor.execute('select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'welinton', 20, 'Data')
(2, 'welinton', 20, 'Data')
(3, 'welinton', 20, 'Data')
(4, 'product1', 20, 'lasasa')
(5, 'product1', 20, 'lasasa')
(6, 'product1', 20, 'lasasa')