### Pandas - DataFrame and Series

Pandas is a powerful data manipulation library in python, widely used for data analysis and data cleaning. It provides two primary data structures: Series and DataFrame. A Series is a one - dimensional array-like object, while a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns)

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/welinton/python/venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/welinton/python/venv/lib/python3.12/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/welinton/python/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/welinton/python/venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/welinton/python/venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/welinton/python/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [ ]:
## Series 
## A Pandas Series is a one-dimensional array-like object that
## Can hold any data type. it is similar to a column in a table

data=[1,2,3,4,5]
series = pd.Series(data)

print("Series \n", series)
print("Type of Series \n", type(series))

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64
Tyoe of Series
 <class 'pandas.core.series.Series'>

In [8]:
## Create a Setires from dictionary

data = {'a' : 1, 'b': 2, 'c' : 3}
series_dict = pd.Series(data)

print("Series_dict \n", series_dict)
print("Type of series_dict \n", type(series_dict))

Series_dict
 a    1
b    2
c    3
dtype: int64
Type of series_dict
 <class 'pandas.core.series.Series'>

In [10]:
data = [10,20,30]
index = ['a','b','c']

series = pd.Series(data, index=index)
print(series)

a    10
b    20
c    30
dtype: int64

In [13]:
## DataFrame
## create a dataFram from a dictionary of list

data = {
    "Name" : ['Welinton', "Yasmin", "Junior"],
    "Age": [20, 19, 24],
    "City": ["Guara", "Aparecida", "Sao José"],
}

df = pd.DataFrame(data)
print(df)
print(type(df))

       Name  Age       City
0  Welinton   20      Guara
1    Yasmin   19  Aparecida
2    Junior   24   Sao José
<class 'pandas.core.frame.DataFrame'>

In [27]:
## Create a Data Frame from a list of dictionaries

data = [
    {"Name" : 'Welinton', "Age" : 20, "City" : "Guaratingueta"},
    {"Name" : 'Yasmin', "Age" : 19, "City" : "Aparecida"},
    {"Name" : 'Junior', "Age" : 22, "City" : "Lorena"},
]

df = pd.DataFrame(data)
print(df)

       Name  Age           City
0  Welinton   20  Guaratingueta
1    Yasmin   19      Aparecida
2    Junior   22         Lorena

In [ ]:
data = pd.read_csv('./dataset/soil_pollution_diseases.csv')
df = pd.DataFrame(data)

## Print first five elements
df.head(5)

,Case_ID,Date_Reported,Region,Country,Pollutant_Type,Pollutant_Concentration_mg_kg,Soil_pH,Temperature_C,Humidity_%,Rainfall_mm,...,Soil_Texture,Soil_Organic_Matter_%,Disease_Type,Disease_Severity,Health_Symptoms,Age_Group_Affected,Gender_Most_Affected,Mitigation_Measure,Case_Resolved,Follow_Up_Required
0,CASE_100000,2024-09-12,Africa,Pakistan,Lead,78.04,8.30,35.6,64.9,62.4,...,Sandy,1.98,Gastrointestinal Disease,Moderate,Breathing Difficulty,Adults,Male,Government Regulation,No,Yes
1,CASE_100001,2024-01-01,Africa,Germany,Lead,16.33,7.96,31.0,73.1,8.2,...,Silty,9.71,Cancer,Mild,Breathing Difficulty,Elderly,Both,Community Awareness,Yes,No
2,CASE_100002,2025-02-24,Europe,Germany,Lead,167.33,5.35,16.4,33.8,121.7,...,Clay,5.49,Gastrointestinal Disease,Severe,Nausea,Children,Both,Soil Remediation,Yes,No
3,CASE_100003,2024-09-24,Asia,USA,Lead,89.23,5.66,31.4,30.5,116.9,...,Silty,3.98,Neurological Disorder,Severe,Fatigue,Adults,Male,Community Awareness,Yes,No
4,CASE_100004,2023-05-24,Africa,India,Chromium,93.93,7.64,17.0,58.6,237.0,...,Loamy,0.94,Skin Disease,Moderate,Breathing Difficulty,Children,Female,Government Regulation,Yes,Yes

In [20]:
## Print last five elements
df.tail(5)

,Case_ID,Date_Reported,Region,Country,Pollutant_Type,Pollutant_Concentration_mg_kg,Soil_pH,Temperature_C,Humidity_%,Rainfall_mm,...,Soil_Texture,Soil_Organic_Matter_%,Disease_Type,Disease_Severity,Health_Symptoms,Age_Group_Affected,Gender_Most_Affected,Mitigation_Measure,Case_Resolved,Follow_Up_Required
2995,CASE_102995,2024-04-08,Asia,Mexico,Mercury,14.27,7.06,12.3,75.0,215.6,...,Silty,2.39,Respiratory Issues,Severe,Abdominal Pain,Elderly,Both,Crop Rotation,Yes,Yes
2996,CASE_102996,2024-12-28,Asia,Australia,Pesticides,110.21,5.23,25.4,80.0,184.8,...,Clay,1.91,Neurological Disorder,Severe,Breathing Difficulty,Adults,Female,Government Regulation,Yes,No
2997,CASE_102997,2023-07-15,Europe,India,Chromium,146.15,5.25,35.8,56.0,181.5,...,Silty,8.59,Cancer,Mild,Fatigue,Children,Female,Government Regulation,No,No
2998,CASE_102998,2024-07-30,Asia,USA,Lead,143.18,4.63,20.4,85.3,7.3,...,Silty,5.68,Neurological Disorder,Mild,Abdominal Pain,Adults,Female,Soil Remediation,Yes,Yes
2999,CASE_102999,2024-09-04,North America,China,Cadmium,146.93,6.99,36.6,74.4,276.8,...,Silty,8.30,Respiratory Issues,Mild,Breathing Difficulty,Elderly,Both,Chemical Neutralization,No,No

In [24]:
### Accessing Data from DataFrame
df

       Name  Age           City
0  Welinton   20  Guaratingueta
1    Yasmin   19      Aparecida
2    Junior   22         Lorena

In [30]:
df['Name']

0    Welinton
1      Yasmin
2      Junior
Name: Name, dtype: object

In [31]:
df.loc[0]

Name         Welinton
Age                20
City    Guaratingueta
Name: 0, dtype: object

In [35]:
df.iloc[0][0]

/tmp/ipykernel_15010/2900375399.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][0]

'Welinton'

In [38]:
## Accessing specified element
df.at[2, 'Age']

np.int64(22)

In [39]:
df.at[2, 'Name']

'Junior'

In [40]:
## Accessing a specified element using iat
df.iat[2,2]

'Lorena'

In [41]:
df

       Name  Age           City
0  Welinton   20  Guaratingueta
1    Yasmin   19      Aparecida
2    Junior   22         Lorena

In [42]:
### Data Manipulation with DataFrame
df

       Name  Age           City
0  Welinton   20  Guaratingueta
1    Yasmin   19      Aparecida
2    Junior   22         Lorena

In [ ]:
## Adding a column
df['Salary'] = [5000, 6000, 7000]
df

       Name  Age           City  Salary
0  Welinton   20  Guaratingueta    5000
1    Yasmin   19      Aparecida    6000
2    Junior   22         Lorena    7000

In [51]:
## Remove a column
df = df.drop('Salary', axis=1)

In [52]:
df

       Name  Age           City
0  Welinton   20  Guaratingueta
1    Yasmin   19      Aparecida
2    Junior   22         Lorena